.float-label {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
}

.label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    transition: 0.2s ease all;
}

.label-float {
    background: white;
    width: auto;
    top: -10px;
    padding: 0 6px;
    font-size: 12px;
}
/* 
.float-label input {
    width: 100%;
    padding: 12px 12px 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    color: #333;
} */
